/Dissertation Project/Library
/Dissertation Project/Logs
/Dissertation Project/obj/Debug
/Dissertation Project/Packages
/Dissertation Project/Assets/_TerrainAutoUpgrade
/Dissertation Project/UDO/RawLogs/2020_2_23
/Dissertation Project/UDO/RawLogs/2020_2_27
/Dissertation Project/UDO/SaveFiles/test
/Dissertation Project/Assets/_TerrainAutoUpgrade.meta
/Dissertation Project/UDO/RawLogs/2020_3_1
/Dissertation Project/builds
/Dissertation Project/.vs/Dissertation Project/v16/Server/sqlite3
/Dissertation Project/Temp/ProcessJobs
/Dissertation Project/Temp
